{% extends 'base.html' %}
{% block title %} ¡Bienvenido! {% endblock %}
{% load static %}
{% block content %}
    <h1>HOLA TUINIRIJILLOS</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero repudiandae blanditiis veniam sed. Corporis dignissimos minima, nobis voluptas itaque aliquam, dolorem pariatur enim laborum sequi beatae alias vel quod repellat.
        Excepturi eos tempora, quia nisi saepe sed consequuntur hic nobis repellat iste, dolore dolor veritatis beatae incidunt exercitationem, id enim. Nihil iusto veniam adipisci accusamus obcaecati maiores, animi qui sequi!
        Inventore vitae numquam aut reprehenderit voluptatem qui, odit praesentium repudiandae neque iusto ab autem quae fuga rem, harum nostrum suscipit, quos excepturi placeat laboriosam dolorum fugit animi maxime? Corporis, unde.
        Cumque autem obcaecati laudantium perferendis velit vel saepe necessitatibus et optio? Numquam dolorum alias nemo tempore natus magnam eius eaque laborum accusantium dignissimos distinctio quaerat, explicabo cum harum exercitationem maxime.
        Consectetur, omnis tempore, natus molestiae iste, deleniti saepe eum qui porro velit nemo. Nesciunt similique nihil nostrum alias delectus quibusdam molestias obcaecati exercitationem sequi voluptatibus aliquid sit, consequatur dicta dolores!
        Rem molestias itaque dolorum doloribus ipsam corrupti perspiciatis doloremque natus dolorem, ad ex similique neque ut? Eligendi repellendus, natus mollitia quos unde temporibus rerum labore provident odio perferendis fuga laudantium!
        Maiores nobis enim quae vero corporis totam. Cumque at vero molestiae ipsa, fugit dolores magni. Ab distinctio reiciendis saepe? Quae sunt, doloremque impedit rem error dignissimos qui fuga ad quod.
        Numquam, nesciunt optio atque natus molestiae eveniet? Alias provident error excepturi placeat esse molestias ut, labore adipisci, omnis ex dolorum tenetur quas quibusdam, cum voluptates? Quos magni omnis accusantium iste?
        Minus totam vel accusantium explicabo, ab labore. Quis corporis, maiores veniam reprehenderit, excepturi consequatur, voluptates ipsam vel alias porro distinctio. Aliquam ab libero, ullam aliquid expedita eveniet perferendis et eius.
        Consequatur, laborum delectus facere magni laboriosam provident earum aperiam. Debitis animi tempora repellat quos nam, nihil sapiente delectus cum perferendis culpa corporis veniam inventore quas, dolore fuga odit explicabo placeat.
    </p>
    <img src="{% static 'img/fish.gif' %}" alt="pescado">
{% endblock %}s