<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django TEMPLATES Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'inicio:index'%}">Inicio</a></li>
                <li><a href="{% url 'perfil:perfil_uno'%}"> Mario</a></li>
                <li><a href="{% url 'perfil:perfil_dos'%}"> Ronaldinho</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}


        {% endblock %}
    </main>
    <footer>
        <p>&copy; Django Project Templates 2026</p>
    </footer>
</body>
</html>